body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/cloud.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gameOverScreen {
    display: none;
    background-color: red;
}

#fightingSpace {
    display: flex;
    flex-direction: row;
}

.player {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.healthSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.inactive {
    background-color: grey;
}

.active {
    background-color: red;
}

.idle {
    height: 350px;
    width: 350px;
    background-color: none;
}

.attack {
    height: 350px;
    width: 360px;
    background: linear-gradient(-90deg, rgba(0,255,0, 0.7), rgba(255,0,0,0) 90.71%); border-top-right-radius: 80%; border-bottom-right-radius: 80%";
}

.damage {
    height: 350px;
    width: 350px;
    background: linear-gradient(-90deg, rgba(255,0,0,0), rgba(255,0,0,.3) 70.71%);
}

#playerOneHealth,
#playerTwoHealth {
    color: green;
}

.playerSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    height: 75px;
    width: 125px;
    background-color: red;
    border: solid 5px grey;
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.game-over {
    filter: grayscale(0.2) brightness(0.8);
    animation: flicker 0.8s ease-in-out infinite;
}

#winningPlayer {
    background-color: rgb(0, 255, 251);
}




/* player one button  */
/* #playerOneAttack{
    background-color: cyan;
    background: linear-gradient(45deg, #ff6b6b, #556270);
    cursor: pointer;
    transition: 0.3s;
}

.glow {
    box-shadow: 0 0 15px rgba(255, 107, 107, 0.8);
} */